/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* .container {
    height: 100%;
    width: 100%;
    margin: 0px;
} */


html,
body {
    height: 100%;
    /* background-color: black; */
}

body {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

header {
    /* position: fixed;
    width: 100%;
    left: 0;
    top: 0; */
    background-color: gray;
    text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: gray;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 90%;
}

.quiz_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    // background-color: black;
}

.quiz {
    // background-color: rgb(211, 211, 211);
    // border-radius: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 50%;
    gap: 20px;
    padding: 5px;

}

.choices {
    width: 80%;
    align-items: flex-start;
    // height: 72%;
}

.submit {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.questionName {
    // background-color: red;
    display: flex;
    text-align: center;
    min-height: 50px;
    width: 80%;
    // vertical-align: middle;
    align-items: center;
    justify-content: center;
    // border: 1px solid black;
}

.container h1 {
    text-align: center;
}


.button {
    display:flex;
    justify-content: center;
}