<footer>

    <div class="socials">
    
        <%= link_to 'Facebook', "https://www.facebook.com", target: :_blank%>
        <%= link_to 'Twitter', "https://www.twitter.com", target: :_blank%>
        <%= link_to 'Linkedin', "https://www.linkedin.com/in/phillip-phan-58a61a1a4", target: :_blank%>

    </div>


</footer>